<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Beneficiário</title>
    <meta charset="UTF-8">
    <style>
        label {
            display: block;
            margin-top: 10px;
        }
    </style>
    <script th:src="@{/JS/buscas-formatacoes.js}"></script>
   
</head>
<body>
<h1>Cadastrar Beneficiário</h1>

<form method="post" th:action="@{/beneficiario/salvar}" th:object="${beneficiario}">

    <label>
        <input type="checkbox" id="pessoa_juridica" th:field="*{PF_PJ}" onclick="alternarTipoPessoa()" />
        Pessoa Jurídica (PJ)?
    </label>

    <label id="label_cnpj">CNPJ:</label>
    <input type="text" id="cnpj" th:field="*{cnpj_cpf}" placeholder="Digite o CNPJ ou CPF" />
    <button type="button" onclick="buscarCnpjCpf()">Buscar</button>

    <label>Nome/Razão Social:
        <input type="text" id="nome" th:field="*{nomeRazaoSocial}" />
    </label>

    <label>CEP:
        <input type="text" id="cep" th:field="*{cep}" required placeholder="00000-000" maxlength="9" onkeyup="formatarCEP(this)" >
        <button type="button" onclick="buscarCEP()">Buscar CEP</button>
    </label>

    <label>Endereço:
        <input type="text" id="endereco" th:field="*{endereco}" />
    </label>

    <label>Número:
        <input type="text" id="numero_end" th:field="*{numero_end}" />
    </label>

    <label>Bairro:
        <input type="text" id="bairro" th:field="*{bairro}" />
    </label>

    <label>Cidade:
        <input type="text" id="cidade" th:field="*{cidade}" />
    </label>

    <label>UF:
        <input type="text" id="uf" th:field="*{uf}" />
    </label>

    <label>Telefone:
        <input type="text" id="telefone" th:field="*{telefone}" />
    </label>

    <label>Email:
        <input type="text" id="email" th:field="*{email}" />
    </label>

    <label>Observações:
        <textarea th:field="*{observações}"></textarea>
    </label>

    <br>
    <button type="submit">Salvar</button>
</form>
</body>
</html>