<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="formularios.css">
    <title>Editar Usuário</title>
</head>
<body>

<header class="header-cadastro-usuario">
    <h1 class="titulo-cadastro-usuario">Edição de Usuário</h1>
</header>


<section class="container">

    <div class="div-botao-topo">
        <button type="button" onclick="window.history.back()">Retornar</button>
    </div>
    <br>

    <form th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" id="id" th:field="*{id}">
        <div class="linha ">
        <div class="inp1">
            <label for="name">Nome:</label>
            <input type="text" id="name" th:field="*{username}" disabled required class="inp3">
        </div>

        <div class="inp2 distancia">
            <label for="CPF">CPF:</label>
            <input class="inp3" type="text" id="CPF" th:field="*{CPF}" disabled required placeholder="000.000.000-00" onkeyup="formatarCPF(this)">
        </div>
        <br>
        </div>
        <div class="linha "> 
        <div class="">
            <label for="cep">CEP:</label>
            <input type="text" id="cep" th:field="*{cep}" required placeholder="00000-000" maxlength="9" onkeyup="formatarCEP(this)" disabled>
            <button type="button" onclick="buscarCEP()">Buscar CEP</button>
        </div>
        <div class="inp2 distancia">
            <label for="telefone">Telefone:</label>
            <input type="text" class="inp3" id="telefone" th:field="*{telefone}" disabled required placeholder="(00)00000-0000" onkeyup="formatarTelefone(this)" maxlength="15">
        </div>
        <br>
        </div>
        <div class="linha "> 
        <div class="inp1">
            <label for="endereco">Endereço:</label>
            <input type="text" class="inp3" id="endereco" th:field="*{endereco}" disabled required>
        </div>
        <br>
        <div class="inp2 distancia">
            <label for="numero">Número :</label>
            <input class="inp3" type="text" id="endereco" th:field="*{}" disabled required>
        </div>
        <br>
        </div>
        <div class="linha "> 
        <div class="inp2">
            <label for="bairro">Bairro:</label>
            <input type="text" class="inp3" id="bairro" th:field="*{bairro}" disabled required>
        </div>
        <br>

        <div class="inp2 distancia">
            <label for="cidade">Cidade:</label>
            <input type="text" class="inp3" id="cidade" th:field="*{cidade}" disabled required>
        </div>
        <br>

        <div class="inp2 distancia">
            <label for="uf">UF:</label>
            <input type="text" class="inp3" id="uf" th:field="*{uf}" disabled required>
        </div>
        <br>
        </div>  

        <div class="linha"> 
        <button type="button" id="editButton" onclick="enableEditing()">Editar</button>
        <button type="submit" id="saveButton" disabled>Salvar</button>
        <button type="button" onclick="deleteUser()">Deletar</button>
        </div>
    </form>

    <script th:src="@{/JS/buscas-formatacoes.js}"></script>

</section>

</body>
</html>