<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>
<body>
  
        <diV class="principal-conteudo">
            <div class="cadastro-conteudo">
                <h2 class="cadastro-conteudo-titulo">Cadastro</h2>
                <div class="cadastro-conteudo-div">
                    <div> 
                        <img src="CSS/IMG/icon-convenio.png" class="convenio-img" alt="convenio">
                        <p class="convenio">Convênio</p>
                    </div>

                    <div>
                        <a href="Especialidades.html" class="links">
                        <img src="CSS/IMG/icon-especialidade.png" class="img" alt="especialidade">
                        <p class="especialidade">Especialidade</p>
                        </a>
                    </div>

                    <div>
                        <img src="CSS/IMG/icon-medicos.png" class="img" alt="medicos">
                        <p class="medicos">Médicos</p>
                    </div>

                    <div>
                        <img src="CSS/IMG/icon-usuarios.png" class="img" alt="usuarios">
                        <p class="usuarios">Usuarios</p>
                    </div>

                    <div>
                        <img src="CSS/IMG/icon-paciente.png" class="img" alt="paciente">
                        <p class="pacientes">Pacientes</p>
                    </div>
                </div>
            </div>

            <div class="degrade-azul-branco"></div>

            <div class="agendamento-conteudo">
                <h2 class="cadastro-conteudo-titulo">Agendamento</h2>
                <div class="agendamento-conteudo-div">
                    <div>
                        <a href="MarcarConulta.html" class="links">
                        <img src="CSS/IMG/icon-consulta.png" class="img" alt="consulta">
                        <p class="convenio">Consulta</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="degrade-azul-branco"></div>

            <div class="atendimento-conteudo">
                <h2 class="cadastro-conteudo-titulo">Atendimento</h2>
                <div class="atendimento-conteudo-div">
                    <div>
                        <img src="CSS/IMG/icon-prontuario.png" class="img" alt="prontuario">
                        <p class="prontuario">Prontuário</p>
                    </div>
                </div>
            </div>
 
    <footer class="footer-home">

    </footer>
</body>
</html>
