<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <title>Login</title>
</head>
<body>
<div class="container">
  <div class="ladoform">
    <h1>Bem-Vindo</h1>
    <div class="formulario">
      <form th:action="@{/login}" method="post" class="d-flex">
        <input type="text" name="username" placeholder="Digite seu Usuário" required>
        <input type="password" name="password" placeholder="Digite sua Senha" required>
        <a href="#" class="esqueceu">Esqueceu a senha?</a>
        <button type="submit">Entrar</button>
      </form>
      <p th:if="${param.error}" style="color: white; margin-top: 10%; margin-left: 20%; width:80%; border: 2px solid red; background-color: red; text-align: center; font-size: 16px;">Usuário ou senha inválidos</p>
    </div>
  </div>
  <div class="ladoimg"></div>
</div>
</body>
</html>
